<div class="d-flex" id="wrapper">
    <div class="bg-light border-right " id="sidebar-wrapper">
        <div class="sidebar-heading">Incidencias de la CDMX</div>
        <div class="list-group list-group-flush">

            
                <a class="list-group-item list-group-item-action bg-light" [routerLink]="['map']"> Mapa </a>
                <a class="list-group-item list-group-item-action bg-light" [routerLink]="['chart']">Estadisticas </a>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['chart']">Estadisticas </a>
            </li> -->

            <!-- <a href="#"
                class="list-group-item list-group-item-action bg-light"> <i
                class="fas fa-map-marked-alt"></i> Estadisticas
            </a> -->
           
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar-fixed-top">
            <button class="btn btn-primary" id="menu-toggle" (click)="corazonada()">Trafico de
                la Ciudad de mexico</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" href="/">Principal
                            <span class="sr-only">(current)</span>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
            
        </nav>
        <router-outlet></router-outlet>


    </div>
</div>
<!-- finwrapper -->
<app-footer></app-footer>