<form #datosForm="ngForm" (ngSubmit)="buscarIncidencias(datosForm)">
    <!-- <input class="form-control" type="hidden" name="_id" #_id="ngModel"[(ngModel)]="obtenerfecha" -->
    <!-- <input matInput [matDatepicker]="matDatepicker" disabled #obtenerFecha="ngModel"[(ngModel)]="obtenerFecha"> -->
    <input matInput [matDatepicker]="matDatepicker" disabled name="obtenerFecha" [(ngModel)]="obtenerFecha">
    <mat-datepicker-toggle  [for]="matDatepicker" ></mat-datepicker-toggle>
    <mat-datepicker #matDatepicker disabled='false'></mat-datepicker>
    <div ng-app="myApp" ng-controller="myCtrl">
        <select id="seleccionado" name="seleccionado" [(ngModel)]="selectedOption"  >
            <option hidden selected>Seleccione Ciudad</option>
            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<div class="container-fluid">
    <h3>Clustering</h3>
    <div id="mapClustering"></div>
</div>

<div class="container text-center">

    <div class="row ">
        <div class="col-sm-6">
            <div class="card mb-4">
                <i class="fas fa-chart-area"></i> Trafico y Semaforos

                <div class="card-body" id="mapid"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-4">
                <i class="fas fa-chart-area"></i> Calles Cerradas
                <div class="card-body" id="mapid2"></div>
            </div>
        </div>

    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-12">
                <i class="fas fa-chart-area"></i>Calles cerradas reportada por
                los usuarios
                <div class="card-body" id="mapid3"></div>
            </div>
        </div>
        <div class="container-fluid">
            <h3>Division por Alcaldías de la Ciudad de México</h3>
            <div id="mapid5"></div>
        </div>
        <div class="container-fluid">
            <h3>Trafico en la Ciudad de México</h3>
            <div id="mapTrafico"></div>
        </div>

    </div>
</div>
