 <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de</h6>
          <p class="text-justify">Es una iniciativa para ...</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Herramientas</h6>
          <ul class="footer-links">
            <li><a href="https://angular.io">Angular</a></li>
            <li><a href="https://www.typescriptlang.org/">Typescript</a></li>
            <li><a href="https://nodejs.org/en/">NodeJS</a></li>
            <li><a href="https://www.mongodb.com/">MongoDB</a></li>
            <li><a href="https://www.chartjs.org/">ChartJS</a></li>
            <li><a href="https://leafletjs.com/">Leaflet</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Acerca de nosotros</a></li>
            <!-- <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li> -->
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">UAMI &copy; 2020 Todos los derechos reservados por la
       <a href="http://www.iztapalapa.uam.mx/">Universidad Autonoma Metropolitana</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/uam.mx"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
            <li><a class="github" href="https://github.com/lebiram2205/Georeferencia-Visualisador2"><i class="fa fa-github"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>